/*global css*/
.navbar{
    border-radius: 0;
}
.hasilkode{
    border: 1px dotted #333;
}
.asalkode,
.hasilkode{
    min-height: 120px;
    padding: 5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}